# Dependency directories
node_modules/
jspm_packages/

# SQLite databases
*.db
*.db-journal
*.db-wal
*.db-shm

# Build directories
dist/
build/
out/

# IDEs and OS files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Environment variables files
.env
.env.local
.env.development
.env.test
.env.production

